{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Courses</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'edustage/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'edustage/css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'edustage/css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'edustage/vendors/owl-carousel/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'edustage/vendors/nice-select/css/nice-select.css' %}" />
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'edustage/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'academica/css/style.css' %}"/>
	  <link rel="stylesheet" href="{% static 'academica/css/pagination.css' %}"/>
	  <link rel="stylesheet" href="{% static 'academica/css/flaticon.css' %}"/>
	  <link rel="stylesheet" href="{% static 'academica/css/font-awesome.min.css' %}"/>
    <style>
      .row-select {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
        width: 100%;
        padding-right: calc(168px + 18px);
      }
      .my-select-wrapper {
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .my-select {
        border-radius: 0px;
        width: 70%;
      }
      .pagination-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .flaticon-icon:before {
        font-size: inherit;
        color: rgb(131, 131, 131);
      }
      .nice-select .list {
        overflow-y: scroll !important;
        max-height: calc(40px * 5);
      }
      .result-image {
        width: 100%;
        height: 234px;
        background-size: cover;
        background-position: center;
      }
      .course-item-style {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
      }
      .course-content-style {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .cc-text-style {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    </style>
  </head>

  <body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area white-header">
      <div class="main_menu">
        <div class="search_input" id="search_input_box">
          <div class="container">
            <form class="d-flex justify-content-between" method="" action="">
              <input
                type="text"
                class="form-control"
                id="search_input"
                placeholder="Search Here"
              />
              <button type="submit" class="btn"></button>
              <span
                class="ti-close"
                id="close_search"
                title="Close Search"
              ></span>
            </form>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand" href="index.html">
              <img class="logo-2" src="img/logo2.png" alt="" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about-us.html">About</a>
                </li>
                <li class="nav-item submenu dropdown active">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Pages</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="courses.html">Courses</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="course-details.html"
                        >Course Details</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="elements.html">Elements</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item submenu dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Blog</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="single-blog.html"
                        >Blog Details</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link search" id="search">
                    <i class="ti-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>What do you want to learn?</h2>
                {% comment %} <div class="page_link">
                  <a href="index.html">Home</a>
                  <a href="courses.html">Courses</a>
                </div> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->
    <section class="multi-search-section" id="outside">
        <div class="msf-warp" style="overflow: initial;">
          <div class="container">
            <h5>Search your Course</h5>
            <form class="multi-search-form" action="" method='post' novalidate="novalidate" id="search-form">
              {% csrf_token %}
              <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; width: 100%;">
                <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; width: 100%;">
                  <input
                    style="flex: 1 0 auto; font-size: 14px;"
                    type="text"
                    name="search_text"
                    placeholder="Course"
                    {% if search_text %}
                    value={{ search_text }}
                    {% endif %}
                  >
                  <button type="submit" value="submit" class="site-btn">Search <i class="fa fa-angle-right"></i></button>
                </div>
                <div class="row-select">
                  <div class="my-select-wrapper"
                    id="subject-select"
                  >
                    <label
                      style="margin: 0; margin-right: 8px;"
                    >Subject: </label>
                    <select
                      name="subject"
                      class="my-select"
                    >
                      <option>All</option>                                        
                    {% for subject in subjects %}
                      <option>{{ subject.name }}</option>                    
                    {% endfor %}
                    </select>
                  </div>

                  <div class="my-select-wrapper"
                    id="level-select"
                  >
                    <label
                      style="margin: 0; margin-right: 8px;"
                    >Level: </label>
                    <select
                      name="level"
                      class="my-select"
                    >
                      <option>All</option>                                        
                    {% for level in levels %}
                      <option>{{ level.name }}</option>                    
                    {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="row-select"
                  id="language-select"                
                >
                  <div class="my-select-wrapper">
                    <label
                      style="margin: 0; margin-right: 8px;"
                    >Language: </label>
                    <select
                      name="language"
                      class="my-select"
                    >
                      <option value="All">All</option>                                        
                    {% for language in languages %}
                      <option value="{{ language.name }}">{{ language.name }}</option>                    
                    {% endfor %}
                    </select>
                  </div>

                  <div class="my-select-wrapper"
                    id="institution-select"
                  >
                    <label
                      style="margin: 0; margin-right: 8px;"
                    >Institution: </label>
                    <select
                      name="institution"
                      class="my-select"
                    >
                      <option>All</option>                                        
                    {% for institution in institutions %}
                      <option>{{ institution.name }}</option>                    
                    {% endfor %}
                    </select>
                  </div>
                </div>
                <input type="hidden" name="pageNo" id="pageNo-input" value="1">
                <input type="hidden" name="pageSize" id="pageSize-input" value={{ pageSize }}>
              </div>
              
            </form>
          </div>
        </div>
      </section>
    <!--================ Start Popular Courses Area =================-->
    <div class="popular_courses section_gap_top" id="result">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3">Our Popular Courses</h2>
              <p>
                Replenish man have thing gathering lights yielding shall you
              </p>
              <h5>{{ courses_size }} result</h5>
            </div>
          </div>
        </div>
        <div class="row courses-page">
          <!-- single course -->
          {% for course in courses %}
          <div class="col-lg-4 col-md-6" style="display: flex; flex-direction: column;">
            <div class="course-item course-item-style">
              <figure class="course-preview" style="flex: 0 0 auto;">
                {% comment %} <a href="{{course.get_absolute_url}}"> {% endcomment %}
                  <div class="result-image" style="background-image: url({{ course.link_image }})">
                {% comment %} </a> {% endcomment %}
                {% comment %} <div class="price">$25</div> {% endcomment %}
              </figure>
              <div class="course-content course-content-style">
                <div class="cc-text cc-text-style">
                  <div style="display: flex; flex-direction: column;">
                  <a href="{{course.get_absolute_url}}">
                    <h5>{{ course.name }}</h5>                  
                  </a>
                  {% comment %} <h6>{{ course.timestamp }}</h6> {% endcomment %}
                  <p>{{ course.description }}</p>
                  <h6>{{ course.timestamp }}</h6>
                  </div>
                  <div>
                    <span><i class="flaticon-student-2 flaticon-icon"></i>20</span>
                    <span><i class="flaticon-placeholder flaticon-icon"></i>3</span>
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star i-fade"></i>
                    </div>
                  </div>
                  {% comment %} <h6>{{ course.timestamp }}</h6> {% endcomment %}
                </div>
                <div class="seller-info">
                  <div class="seller-pic set-bg" data-setbg="{% static 'academica/img/courses/sellers/1.jpg' %}"></div>
                  <h6>Institution: <span>{{ course.institution }}</span></h6>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- course -->
          <div class="col-lg-12">
            <div class="pagination-wrapper">
              <div id="pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================ End Popular Courses Area =================-->

    <!--================ Start Registration Area =================-->
    <div class="section_gap registration_area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-7">
              <div class="row clock_sec clockdiv" id="clockdiv">
                <div class="col-lg-12">
                  <h1 class="mb-3">Register Now</h1>
                  <p>
                    There is a moment in the life of any aspiring astronomer that
                    it is time to buy that first telescope. It’s exciting to think
                    about setting up your own viewing station.
                  </p>
                </div>
                <div class="col clockinner1 clockinner">
                  <h1 class="days">150</h1>
                  <span class="smalltext">Days</span>
                </div>
                <div class="col clockinner clockinner1">
                  <h1 class="hours">23</h1>
                  <span class="smalltext">Hours</span>
                </div>
                <div class="col clockinner clockinner1">
                  <h1 class="minutes">47</h1>
                  <span class="smalltext">Mins</span>
                </div>
                <div class="col clockinner clockinner1">
                  <h1 class="seconds">59</h1>
                  <span class="smalltext">Secs</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
              <div class="register_form">
                <h3>Courses for Free</h3>
                <p>It is high time for learning</p>
                <form
                  class="form_area"
                  id="myForm"
                  action="mail.html"
                  method="post"
                >
                  <div class="row">
                    <div class="col-lg-12 form_group">
                      <input
                        name="name"
                        placeholder="Your Name"
                        required=""
                        type="text"
                      />
                      <input
                        name="name"
                        placeholder="Your Phone Number"
                        required=""
                        type="tel"
                      />
                      <input
                        name="email"
                        placeholder="Your Email Address"
                        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                        required=""
                        type="email"
                      />
                    </div>
                    <div class="col-lg-12 text-center">
                      <button class="primary-btn">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--================ End Registration Area =================-->

    <!--================ Start Feature Area =================-->
    <section class="feature_area section_gap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3">Awesome Feature</h2>
              <p>
                Replenish man have thing gathering lights yielding shall you
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-student"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">Scholarship Facility</h4>
                <p>
                  One make creepeth, man bearing theira firmament won't great
                  heaven
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-book"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">Sell Online Course</h4>
                <p>
                  One make creepeth, man bearing theira firmament won't great
                  heaven
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-earth"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">Global Certification</h4>
                <p>
                  One make creepeth, man bearing theira firmament won't great
                  heaven
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Feature Area =================-->

    <!--================ Start footer Area  =================-->
    <footer class="footer-area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-6 single-footer-widget">
            <h4>Top Products</h4>
            <ul>
              <li><a href="#">Managed Website</a></li>
              <li><a href="#">Manage Reputation</a></li>
              <li><a href="#">Power Tools</a></li>
              <li><a href="#">Marketing Service</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Brand Assets</a></li>
              <li><a href="#">Investor Relations</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
            <h4>Features</h4>
            <ul>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Brand Assets</a></li>
              <li><a href="#">Investor Relations</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
            <h4>Resources</h4>
            <ul>
              <li><a href="#">Guides</a></li>
              <li><a href="#">Research</a></li>
              <li><a href="#">Experts</a></li>
              <li><a href="#">Agencies</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 single-footer-widget">
            <h4>Newsletter</h4>
            <p>You can trust us. we only send promo offers,</p>
            <div class="form-wrap" id="mc_embed_signup">
              <form
                target="_blank"
                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                method="get"
                class="form-inline"
              >
                <input
                  class="form-control"
                  name="EMAIL"
                  placeholder="Your Email Address"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Your Email Address'"
                  required=""
                  type="email"
                />
                <button class="click-btn btn btn-default">
                  <span>subscribe</span>
                </button>
                <div style="position: absolute; left: -5000px;">
                  <input
                    name="b_36c4fd991d266f23781ded980_aefe40901a"
                    tabindex="-1"
                    value=""
                    type="text"
                  />
                </div>

                <div class="info"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between">
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
          <div class="col-lg-4 col-sm-12 footer-social">
            <a href="#"><i class="ti-facebook"></i></a>
            <a href="#"><i class="ti-twitter"></i></a>
            <a href="#"><i class="ti-dribbble"></i></a>
            <a href="#"><i class="ti-linkedin"></i></a>
          </div>
        </div>
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'edustage/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'edustage/js/popper.js' %}"></script>
    <script src="{% static 'edustage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'edustage/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'edustage/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'edustage/js/owl-carousel-thumb.min.js' %}"></script>
    <script src="{% static 'edustage/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'edustage/js/mail-script.js' %}"></script>
    <script src="{% static 'edustage/js/pagination.min.js' %}"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="{% static 'edustage/js/gmaps.min.js' %}"></script>
    <script src="{% static 'edustage/js/theme.js' %}"></script>
    <script type="text/javascript">
      const data = [];
      const n = {{ courses_size }};
      if (n > 0) {
        for(let i = 1; i <= {{ courses_size }}; i ++) data.push(i);
        $('#pagination').pagination({
          dataSource: data,
          pageNumber: {{ pageNo }},
          pageSize: {{ pageSize }},
          callback: function(data, pagination) {         
              const pageNo = pagination.pageNumber;
              const pageSize = pagination.pageSize;
              $('#pageNo-input').val(pageNo);
              $('#pageSize-input').val(pageSize);
              if (pageNo !== {{ pageNo }} && pageSize === {{ pageSize }}) $('#search-form').submit();
          }
        })
        
        $(window).scrollTop($('#result').offset().top);
        const subject_text = "{{ subject_text }}"
        const level_text = "{{ level_text }}"
        const language_text = "{{ language_text }}"
        const institution_text = "{{ institution_text }}"
        $('#subject-select .list li').each(function() {
          console.log($(this).html());
          if ($(this).html() === subject_text) {
            $(this).click();
          }
          $('#outside').click();
        }) 
        $('#level-select .list li').each(function() {
          console.log($(this).html());
          if ($(this).html() === level_text) {
            $(this).click();
          }
          $('#outside').click();
        })
        $('#language-select .list li').each(function() {
          console.log($(this).html());
          if ($(this).html() === language_text) {
            $(this).click();
          }
          $('#outside').click();
        })
        $('#institution-select .list li').each(function() {
          console.log($(this).html());
          if ($(this).html() === institution_text) {
            $(this).click();
          }
          $('#outside').click();
        })    
      }
    </script>
  </body>
</html>
